body{
    /* background-color: black; */
}


ol{
    /* border:10px solid blue; */
}


h1{
    text-align: center;
    
}

.seconddiv{
    margin-top: 40px;
    /* background-color: black; */

}

.subsecondiv{
    background-color: white;
}

.borderpurple{
    /* border: purple 5px solid; */
}